<h1>Create a new landmark</h2>

<form action='/landmarks'  method='POST'>
<p>Name:</p>
<input type='text' name='landmark[name]' id='landmark_name'>
<p>Year Completed:</p>
<input type='text' name='landmark[year_completed]' id='landmark_year_completed'>

<input type='submit' value='Create New Landmark'>
</form>
